<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>controller.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManagement</servlet-name>
        <servlet-class>controller.CustomerManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProfile</servlet-name>
        <servlet-class>controller.ManagerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Analytics</servlet-name>
        <servlet-class>controller.Analytics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>controller.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManagement</servlet-name>
        <url-pattern>/customerManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProfile</servlet-name>
        <url-pattern>/managerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Analytics</servlet-name>
        <url-pattern>/analytics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <location>
            /error/Error.html
        </location>
    </error-page>
    <welcome-file-list>
        <welcome-file>

            Login.jsp

        </welcome-file>
    </welcome-file-list>
</web-app>
